.container {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-content: center;

        .theme-button {
            display: flex;
            align-items: center;
        }
    }
}